html {
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;
  font-weight: 300;
  background-color: $back;
  color: $textDark;
  font-size: 1.6rem;
  @include laptop {
    font-size: 2rem;
  }
}


img, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include forek {
    max-width: 2560px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2,
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/
.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include mobile {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  @include tablet {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  @include desktop {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include forek {
    max-width: 2560px;
    padding: 0 6rem;
    margin: 0 auto;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  line-height: 1;
  font-weight: 1000;
  color: $back;
  background: $textLite;
  border-radius: 8rem;
  &::after {
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background: url(/src/img/svgs/arrowRight.svg) right center no-repeat;
  }

  &:hover {
    color: $textDark;
    &::after {
      background-image: url(/src/img/svgs/arrowRightBlack.svg);
    }
  }

  &:active {
    padding: 0.8rem 1.8rem;
    color: $back;
    border: 2px solid $textDark;
    &::after {
      background-image: url(/src/img/svgs/arrowRight.svg);
    }
  }

  @include laptop {
    padding: 1.7rem 3.2rem;
    font-size: 2rem;
    gap: 1rem;
  }

  &:active {
    padding: 1.5rem 3rem;
  }
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 1.6rem;
  background-color: $textLite;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 4rem;
  height: 1rem;
  border-radius: 1.6rem;
  background-color: $back;
  opacity: 1;
}