$back: #FFAA05;
$textDark: #000000;
$textLite: #ffffff;

@mixin mobile {
   @media (min-width: 567px) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: 768px) {
      @content;
   }
}

@mixin laptop {
   @media (min-width: 1024px) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: 1240px) {
      @content;
   }
}

@mixin forek {
   @media (min-width: 1600px) {
      @content;
   }
}